@model BF.Retail.SmartRetail.Web.Areas.Admin.Models.PersonViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Fullname)
    @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Fullname, null, new {@class = "text-danger"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.GroupId)
    @Html.DropDownListFor(m => m.GroupId, (IEnumerable<SelectListItem>)Model.GroupList, Model.Id > 0 ? (object)new { @class = "form-control", @readonly = "readonly" } : (object)new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.GroupId, null, new { @class = "text-danger" })
</div>

@Html.HiddenFor(m => m.APIPersonId)

<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", new { groupId = Request.Params["groupId"] }, new { @class = "btn btn-warning"})
</div>

@Html.ValidationSummary(true, null, new { @class = "text-danger" })
