@model BF.Retail.SmartRetail.Web.Areas.Admin.Models.FaceViewModel

@{
    ViewBag.Title = "Face > Add a new Face";
}

@using (Html.BeginForm("Add", "Faces", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.PersonId)
        @Html.DropDownListFor(m => m.PersonId, (IEnumerable<SelectListItem>)Model.PersonList, Model.Id > 0 ? (object)new { @class = "form-control", @readonly = "readonly" } : (object)new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PersonId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Photo)

        <div id="ImageSelector">
            @Html.Partial("_ImageSelector")
        </div>

        <div id="ImageDisplayer" class="d-none">
            @Html.Partial("_ImageDisplayerSmall")
        </div>

        @Html.ValidationMessageFor(m => m.Photo, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button id="Add" type="button" class="btn btn-primary disabled" disabled="disabled">Save</button>
        @Html.ActionLink("Cancel", "Index", new { personId = Request.Params["personId"], groupId = Request.Params["groupId"] }, new { id="Cancel", @class = "btn btn-warning disabled", disabled = "disabled" })
    </div>

    <div class="validation-summary-errors text-danger">
        <ul></ul>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/bfsmartretail-admin-faces")

    <script type="text/javascript">
        $(function () {
            bf.smartretail.admin.faces.startAdd();
        });
    </script>
}